{#
UI Element template
type: advanced_quote_ui_element
element fields:
    - title
    - quote
    - author
    - link
    - label
#}

<div>
    {% if element.title|default('') is not empty %}
        <span class="ui huge header">{{ element.title|raw }}</span>
    {% endif %}
    <div style="padding:3vh;">
        {% if element.quote|default('') is not empty %}
            <blockquote>
                {{ element.quote | raw }}
                {% if element.author|default('') is not empty %}
                    <br />— <cite>{{ element.author }}</cite>
                {% endif %}
            </blockquote>
        {% endif %}
    </div>
    {% if element.link|default('') is not empty and element.linkLabel|default('') is not empty %}
        <a href="{{ element.link }}" class="ui button">{{ element.linkLabel }}</a>
    {% endif %}
</div>
<div class="ui divider hidden"></div>
