{#
UI Element template
type: links_ui_element
element fields:
    - title
    - background
    - alignment
    - links
        - link
        - label
        - type
#}
{% set isDark = element.background == constant('MonsieurBiz\\SyliusUiElementsPlugin\\Form\\Type\\UiElement\\LinksUiElementType::BACKGROUND_DARK') %}
{% set isRight = element.alignment == constant('MonsieurBiz\\SyliusUiElementsPlugin\\Form\\Type\\UiElement\\LinksUiElementType::ALIGNMENT_RIGHT') %}
<div style="padding: 5vh;{% if isDark %}background-color: grey;{% endif %}">
    {% if element.title|default('') is not empty %}
        <div class="ui huge header{% if isDark %} inverted{% endif %}">{{ element.title|raw }}</div>
    {% endif %}
    {% if element.links|default([])|length > 0 %}
        <div class="ui stackable grid {{ isRight ? 'two' : 'three' }} columns" {% if isRight %} style="padding-left: 10vw;"{% endif %}>
            {% for linkItem in element.links %}
                {% if linkItem.link|default('') is not empty and linkItem.label|default('') is not empty %}
                    <div class="column">
                        {% if linkItem.type == constant('MonsieurBiz\\SyliusUiElementsPlugin\\Form\\Type\\LinkType::TYPE_EXTERNAL') %}
                            <a style="display: block;" class="ui segment{% if isDark %} tertiary inverted{% endif %}" href="{{ linkItem.link }}" target="_blank" rel="noopener noreferrer">{{ linkItem.label }} <i class="external alternate icon"></i></a>
                        {% else %}
                            <a style="display: block;"  class="ui segment{% if isDark %} tertiary inverted{% endif %}" href="{{ linkItem.link }}">{{ linkItem.label }}</a>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
</div>
<div class="ui divider hidden"></div>
