{#
UI Element template
type: logos_ui_element
element fields:
    - title
    - logos
        - image
        - alt
        - link
        - link_type
#}

<div>
    {% if element.title|default('') is not empty %}
        <div class="ui huge header">{{ element.title }}</div>
        <div class="ui divider hidden"></div>
    {% endif %}
    <div class="ui grid">
        {% for logo in element.logos %}
            <div class="four wide column">
                {% if logo.link|default('') %}
                    {% set linkIsBlank = logo.link_type is defined and logo.link_type == constant('MonsieurBiz\\SyliusRichEditorPlugin\\Form\\Type\\LinkTypeType::TYPE_EXTERNAL') %}
                    <a href="{{ logo.link }}"{% if linkIsBlank %} target="_blank" rel="noopener noreferrer"{% endif %}>
                        <img src="{{ logo.image|imagine_filter('monsieurbiz_sylius_ui_elements_logos') }}" alt="{{ logo.alt|default('') }}" width="180">
                    </a>
                {% else %}
                    <img src="{{ logo.image|imagine_filter('monsieurbiz_sylius_ui_elements_logos') }}" alt="{{ logo.alt|default('') }}" width="180">
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="ui divider hidden"></div>
</div>
