{#
UI Element template
type: job_offer_ui_element
element fields:
    - display
    - title
    - contract
    - localisation
    - content
    - url
#}
<div class="ui segment">
    {% if element.display == constant('MonsieurBiz\\SyliusUiElementsPlugin\\Form\\Type\\UiElement\\JobOfferUiElementType::DISPLAY_SYNTHESIS') %}
        <a href="{{ element.url|default('#') }}">
            {% if element.title|default('') is not empty %}
                <h2>{{ element.title }}</h2>
            {% endif %}
            <div class="ui stackable grid">
                {% if element.contract|default('') is not empty %}
                    <div class="column"><i class="icon edit outline"></i>{{ element.contract }}</div>
                {% endif %}
                {% if element.localisation|default('') is not empty %}
                    <div class="column"><i class="icon map marker alternate"></i>{{ element.localisation }}</div>
                {% endif %}
            </div>
        </a>
    {% elseif element.display == constant('MonsieurBiz\\SyliusUiElementsPlugin\\Form\\Type\\UiElement\\JobOfferUiElementType::DISPLAY_COMPLETE') %}
        <div>
            {% if element.title|default('') is not empty %}
                <h2>{{ element.title }}</h2>
            {% endif %}
            <div class="ui stackable grid">
                {% if element.contract|default('') is not empty %}
                    <div class="column"><i class="icon edit outline"></i>{{ element.contract }}</div>
                {% endif %}
                {% if element.localisation|default('') is not empty %}
                    <div class="column"><i class="icon map marker alternate"></i>{{ element.localisation }}</div>
                {% endif %}
            </div>
            {% if element.content|default('') %}
                <div class="content">
                    {{ element.content|raw }}
                </div>
            {% endif %}
        </div>
    {% endif %}
</div>
