{#
UI Element template
type: text_with_image_ui_element
element fields:
    - content
    - image
        - image
        - alt
    - imageAlign
    - firstColumnWidth
#}
{% set isRightAlign = (element.imageAlign|default('')) == constant('MonsieurBiz\\SyliusUiElementsPlugin\\Form\\Type\\UiElement\\TextWithImageUiElementType::IMAGE_POSITION_RIGHT') %}
{% set firstColumnWidth = element.firstColumnWidth|default('1/2') %}
{# Define all possible class combinations explicitly for medium screens #}
{% set columnSizes = {
    '1/5': {'first': 20, 'second': 80},
    '1/4': {'first': 25, 'second': 75},
    '1/3': {'first': 33, 'second': 67},
    '2/5': {'first': 40, 'second': 60},
    '1/2': {'first': 50, 'second': 50},
    '3/5': {'first': 60, 'second': 40},
    '2/3': {'first': 67, 'second': 33},
    '3/4': {'first': 75, 'second': 25},
    '4/5': {'first': 80, 'second': 20}
} %}
{# Retrieve the classes for the given first column width #}
{% set selectedClasses = columnSizes[firstColumnWidth]|default({'first': 50, 'second': 50}) %}
<div class="ui grid">
    <div class="column" style="width: {{ selectedClasses.first }}%; padding: 10px; position: relative;">
        {% if isRightAlign %}
            {{ include('@MonsieurBizSyliusUiElementsPlugin/Shop/UiElement/TextWithImageUiElement/_content.html.twig') }}
        {% else %}
            {{ include('@MonsieurBizSyliusUiElementsPlugin/Shop/UiElement/TextWithImageUiElement/_image.html.twig') }}
        {% endif %}
    </div>
    <div class="column" style="width: {{ selectedClasses.second }}%; padding: 10px; position: relative;">
        {% if isRightAlign %}
            {{ include('@MonsieurBizSyliusUiElementsPlugin/Shop/UiElement/TextWithImageUiElement/_image.html.twig') }}
        {% else %}
            {{ include('@MonsieurBizSyliusUiElementsPlugin/Shop/UiElement/TextWithImageUiElement/_content.html.twig') }}
        {% endif %}
    </div>
</div>
<div class="ui divider hidden"></div>
