{#
UI Element template
type: text_with_image_ui_element
element fields:
    - content
    - image
        - image
        - alt
        - title
    - imageAlign
#}
{% set isRightAlign = (element.imageAlign|default('')) == constant('MonsieurBiz\\SyliusUiElementsPlugin\\Form\\Type\\UiElement\\TextWithImageUiElementType::IMAGE_POSITION_RIGHT') %}
<div class="ui container">
    {% if element.image|default(null) is not empty and element.image.image|default('') is not empty %}
        <img 
            src="{{ element.image.image|imagine_filter('monsieurbiz_sylius_ui_elements_text_with_image') }}" 
            alt="{{ element.image.alt|default('') }}" 
            title="{{ element.image.title|default('') }}" 
            class="ui image {{ isRightAlign ? 'right' : 'left' }} floated"
            {% if isRightAlign %}style="margin-left: 10px; margin-bottom: 10px;"{% endif %}
            {% if not isRightAlign %}style="margin-right: 10px; margin-bottom: 10px;"{% endif %}
        >
    {% endif %}
    {{ element.content|default('')|raw }}
</div>
<div class="ui divider hidden"></div>
